{% extends 'base.html' %}

{% block title %}
Game {{gid}}
{% endblock %}

{% block content %}
<h2> Game {{gid}}</h2>

<br />

<h2>Summary</h2>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Player ID</th>
      <th scope="col">Points</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    {% for player in players %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td><a href="{{ url_for('player', playerid=player.pid) }}">{{player.pid}}</a></td>
      <td>{{player.points}}</td>
      <td>{{player.result}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br />

<h2>Event Log</h2>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Player ID</th>
      <th scope="col">Event</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{game.timestamp}}</td>
      {% if game.pid != None %}
      <td><a href="{{ url_for('player', playerid=game.pid) }}">{{game.pid}}</a></td>
      {% else %}
      <td>{{game.pid}}</td>
      {% endif %}
      <td>{{game.message}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}