<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games</title>
  <style>
    table,
    th,
    td {
      border: 2px solid #000;
    }

    th,
    td {
      padding: 4px;
    }
  </style>
</head>

<body>
  <h1>Games</h1>
  <h2><a href="/">Main page</a></h2>
  <table>
    <tr>
      <th>Game ID</th>
      <th>Player Count</th>
      <th>Word</th>
    </tr>
    {% for game in games %}
    <tr>
      <td><a href='/game/{{game.gid}}'>{{game.gid}}</a></td>
      <td>{{game.pidcount}}</td>
      <td>{{game.word}}</td>
    </tr>
    {% endfor %}
  </table>
  <h2><a href="/">Main page</a></h2>

</body>

</html>