{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h2>Game Server IP</h2>
<p class="text-danger fs-3">136.243.156.120:50804</p>

<h2>Current Queue</h2>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Game ID</th>
      <th>Player ID</th>
    </tr>
  </thead>
  <tbody>
    {% if queue|length == 0 %}

    <tr>
      <td colspan="2" class="text-center text-muted">queue is empty</td>
    </tr>

    {% else %}

    {% for player in queue %}
    <tr>
      <td>{{player.gid}}</td>
      <td><a href="{{ url_for('player', playerid=player.pid) }}">{{player.pid}}</a></td>
    </tr>
    {% endfor %}

    {% endif %}
  </tbody>
</table>
{% endblock %}