{% extends 'base.html' %}

{% block title %}
Player {{pid}}
{% endblock %}

{% block content %}
<h2>{{pid}}'s stat page</h2>

<br />

<h2>Game Log</h2>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Game ID</th>
      <th scope="col">Points</th>
      <th scope="col">Attempts</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    {% if players|length == 0 %}

    <tr>
      <td colspan="6" class="text-center text-muted">player has not completed any games yet</td>
    </tr>

    {% else %}

    {% for player in players %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{player.timestamp}}</td>
      <td><a href="{{ url_for('game', gameid=player.gid) }}">{{player.gid}}</a></td>
      <td>{{player.points}}</td>
      <td>{{player.attempts}}</td>
      <td>{{player.result}}</td>
    </tr>
    {% endfor %}

    {% endif %}
  </tbody>
</table>

<br />

<h2>Stat Summary</h2>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Games played</th>
      <th scope="col">Point total</th>
      <th scope="col">Point average</th>
      <th scope="col">Attempt total</th>
      <th scope="col">Attempt average</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{totals.games}}</td>
      <td>{{totals.pointsum}}</td>
      <td>{{totals.pointavg}}</td>
      <td>{{totals.attemptsum}}</td>
      <td>{{totals.attemptavg}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}